@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@import "@cloudflare/kumo/styles/tailwind";
@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  /* Cloudflare brand colors */
  --color-cf-orange: #f6821f;

  /* HPES brand colors */
  --color-hpes-orange: #ffa500;
  --color-hpes-blue: #0000cd;
}

html,
body,
main {
  scroll-behavior: smooth;
}

html,
body {
  background-color: white;
  color: black;
  font-family: var(--font-sans);
}
